
* {
	font-family: 'Merriweather', serif;
	margin: 0;
}

body {
	background-color: #e6ecf0;
}

.nav {
  padding: 1.2em 1em 0.2em 1em;
  background-color: #FFF;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	text-decoration: none;
	color: #4ab3f5;
	padding: .5rem 1rem;
	border: 1px solid #FFF;
}

.nav ul li a:hover {
	background-color: #4ab3f5;
	color: #FFF;
	border-radius: 0.5em;
	border: 1px solid #4ab3f5;
	border: 1px solid #FFF;
}

.nav ul li a:active {
    background-color: #FFF;
	color: #4ab3f5;
	border-radius: 0.5em;
	border: 1px solid #4ab3f5;
	border: 1px solid #4ab3f5;
}

.container {
	/* background-color: #FFF; */
	margin-top: 10px;
	/*padding: 0 10em;*/
	/*margin: 0, 200px;*/
	/*margin-left: 200px;*/
	/*text-align: center;*/
	/*width: 80%;*/
}

.tweets {
	
	background-color: #FFF;
	height: 4.5em;
	border-bottom: 1px solid #e6ecf0;
	/* margin-bottom: 5px; */
	/*text-align: left;*/
	/* width: 300px; */
}
.tweets:hover {
    background-color: #f5f8fa;
}
.user {
	font-size: 1em;
	/* width:  1em; */
	margin-left: 2em;
	padding-top:  0.5em;
	/* margin: 0.3em 0 0 1em; */
}

.message {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	/* text-align: left; */
	font-size: 1.1em;
}

.message span {
	color: #4ab3f5;;
}




